mixin crearProyecto(proyecto = {})
  form.agregar-proyecto(action=`/nuevo-proyecto/${proyecto.id || ''}` method="POST")
    .campo
      label(for='nombre') Nombre del Proyecto:
      input(value= proyecto.nombre type='text' id='nombre' name='nombre' placeholder='Nombre Proyecto')
    .campo
      label(for='tipo') Tipo de Proyecto:
      select(name='tipo')
        option(disabled='' selected='') Seleccione el Tipo de Proyecto
        each tipo in tipos
          option(value= tipo.id, selected=proyecto.tipoproyectoId == tipo.id ? true : false) #{tipo.nombre}
    .campo
      label(for='ingeniero_principal') Ingeniero del Proyecto:
      select(name='ingeniero_principal')
        option(disabled='' selected='') Seleccione al 1er Ingeniero
        each usuario in usuarios
          if(usuarioPrincipal.length)
            option(value= usuario.id, selected=usuarioPrincipal[0].id == usuario.id ? true : false) #{usuario.nombre}
          else
            option(value= usuario.id) #{usuario.nombre}
    .campo
      label(for='ingeniero_secundario') Ingeniero del Proyecto (BackUP):
      select(name='ingeniero_secundario')
        option(disabled='' selected='') Seleccione al 2do Ingeniero
        each usuario in usuarios
          if (usuarioRespaldo.length == 2)
            option(value= usuario.id, selected=usuarioRespaldo[1].id == usuario.id ? true : false) #{usuario.nombre}
          else
            option(value= usuario.id) #{usuario.nombre}
    .campo
      label(for='descripcion') Descripción del Proyecto:
      input(value= proyecto.descripcion type='text' id='descripcion' name='descripcion' placeholder='Descripción Proyecto')
    .campo
      label(for='time_begin') Fecha Inicio del Proyecto:
      input(value= fecha_inicio type='date' id='time_begin' name='time_begin' placeholder='Fecha Inicio del Proyecto')
    .campo
      label(for='time_end') Fecha Fin del Proyecto:
      input(value= fecha_fin type='date' id='time_end' name='time_end' placeholder='Fecha Fin del Proyecto')
    .campo.enviar
      input(type='submit' value=`${proyecto.nombre ? 'Guardar' : 'Agregar'}` class='boton')
    .campo.enviar
      a(href=`/proyecto/${proyecto.url}` class="boton") Volver